.brand img.logo {
	width: 35px;
	height: 35px;
	margin: -8px 0 0 -45px;
	position: absolute;
}

section {
	padding-top: 60px;
}

ul.nav-list {
	margin-bottom: 5px;
}

.footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #E5E5E5;
}

.popover-title {
	display: none;
}
.popover-content {
	border-radius: 3px;
}

::-webkit-scrollbar {
	background: #ccc;
}
::-webkit-scrollbar-thumb {
	border-radius: 0;
}