/*
 * FONTS
 */

$font-stack-title: 'Roboto Condensed', 'Droid Sans', arial, sans-serif;
$font-stack-body: 'Roboto Slab', 'Times New Roman', serif;

/**
 * SIZES
 */

$panel-width: 610px;

/**
 * CLASS NAME MAPPINGS
 */

$navbar: UU3Zxb;
$navbar-right: qwU8Me;

$list-view: IZ65Hb-n0tgWb;

$active-note-wrapper: VIpgJd-TUo6Hb;
$active-note-container: XKSfm-L9AdLc;
$active-note: eo9XGd;

$new-note-container: RfDI4d-mAKE4e-DyVDA-haAclf;
$new-note-container-inside-wrapper: TUdKmf-xhiy4;
$new-note-container-inside: TUdKmf-xhiy4-qAWA2;

$note-wrapper: IZ65Hb-TBnied;
$note-container: IZ65Hb-s2gQvd;
$note-title: r4nke-YPqjbf;
$note-title-placeholder: LwH6nd;
$note-content: h1U9Be-YPqjbf;
$note-content-list: gkA7Yd-sKfxWe;
$note-labels: IZ65Hb-x00ATb;
$note-toolbar: IZ65Hb-yePe5c;
