// everything inside media query for panel width
@media only screen and (max-width: $panel-width) {

  // note list
  .#{$list}-#{$notes}.#{$block}-#{$line}-#{$list} {
    margin-bottom: 60px; // make last note visible
  }

  // active note
  .#{$single}-#{$item}.#{$full}-#{$screen}.#{$modal} {
    top: 0 !important;
    bottom: 0;
    left: 0 !important;
    right: 0;
    padding: 0;
  }

  // active note wrapper
  .#{$note}-#{$inner}.#{$open} {
    height: 100%; // inherit height from parent
    width: 100%;
  }

  // active note content and toolbar wrapper
  .#{$note}-#{$wrapper} {
    @include full-screen;
  }

  // active note content
  .#{$note}-#{$text} {
    @include full-screen--content;
    max-height: 100% !important;
  }

  // active note toolbar
  .#{$note}-#{$toolbar} {
    @include full-screen--toolbar;
    background-color: rgba(0, 0, 0, 0.07); // fix for missing toolbar background
  }

  // active note share screen
  .#{$share}-#{$screen} {
    @include full-screen;
  }

  // active note share content
  .#{$share}-#{$screen}-#{$content} {
    @include full-screen--content;
    min-height: 0;
    overflow: hidden;
  }

  // share note screen contact list
  .#{$share}-#{$scroll}-#{$content} {
    min-height: 0 !important;
    max-height: calc(100vh - 96px) !important; // total height minus header and toolbar
  }

  // active note share toolbar
  .#{$share}-#{$screen}-#{$toolbar} {
    @include full-screen--toolbar;
  }

  // active note list settings screen
  .#{$display}-#{$settings} {
    @include full-screen;
  }

  // active note list settings content
  .#{$checkbox}-#{$options}-#{$panel} {
    @include full-screen--content;
  }

  // active note list settings toolbar
  .#{$checkbox}-#{$options}-#{$toolbar} {
    @include full-screen--toolbar;
  }

  // new note container
  .#{$card}-#{$container}.#{$new} {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0 !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    width: 100% !important;

    // note inner
    .#{$note}-#{$inner} {
      width: 100% !important;
    }
  }

  // new note outer
  .#{$note}-#{$wrapper}.#{$create}-#{$card} {
    border-radius: 0 !important;
  }

  // new note inner - active
  .#{$note}-#{$inner}.#{$note}-#{$active} {
    width: 100% !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
  }

  // hide search result labels
  .#{$search}-#{$result}-#{$label} {
    display: none;
  }

  // collapse list view option enabled
  .collapse-list-view {

    // note list
    .#{$list}-#{$notes}.#{$block}-#{$line}-#{$list} {

      // image container
      .#{$note}-#{$image} {
        display: none;
      }

      // title
      // reset the style so all notes look similar
      .#{$title}-#{$outer} {
        padding: 12px 15px 15px !important;
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 19px !important;
      }

      // body
      .#{$card}-#{$outer} {}

      // list
      .#{$checkbox}-#{$note}-#{$list} {}

      // hide the content if there is a title
      .#{$title}-#{$outer}:not(.#{$placeholder}) ~ .#{$card}-#{$outer},
      .#{$title}-#{$outer}:not(.#{$placeholder}) ~ .#{$checkbox}-#{$note}-#{$list} {
        display: none;
      }

      // override and show the content if the title block is hidden
      .#{$title}-#{$outer}[style="display: none;"]:not(.#{$placeholder}) ~ .#{$card}-#{$outer},
      .#{$title}-#{$outer}[style="display: none;"]:not(.#{$placeholder}) ~ .#{$checkbox}-#{$note}-#{$list} {
        display: block;
      }

      // toolbar
      .#{$note}-#{$toolbar} {
        visibility: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: inherit !important;
      }

      .#{$note}-#{$inner}:hover .#{$note}-#{$toolbar} {
        visibility: visible;
        opacity: 1;
      }

      .#{$note}-#{$color} {
        padding: 6px 0 !important;
        float: right;

        // hide all icons except archive and overflow
        .#{$remind},
        .#{$sharing},
        .#{$change} {
          display: none;
        }
      }

      // reminder
      .#{$note}-#{$remind}-#{$popup} {
        float: left;
        width: 18px;
        height: 100%;
        background-size: 18px 18px;
        background-position: 50%;
        border: 0;
        padding: 0;

        .IZ65Hb-zyxPWd-bVEB4e-V67aGc,
        .IZ65Hb-zyxPWd-bVEB4e-VkLyEc {
          display: none;
        }
      }

      // share contacts
      .#{$contact}-#{$popup} {
        display: none;
      }

      // tags
      .#{$note}-#{$tags} {
        display: none;
      }

    }

  }

}
